@tailwind base;
@tailwind components;
@tailwind utilities;

// to white theme
//:root {
//  --foreground-rgb: 0, 0, 0;
//  --background-rgb: 254, 249, 250;
//}

// for now just keep black theme
:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
